<div class="col-12">
    <h4 class="text-center tc-blue">Categorías</h4>
    <hr class="bc-grei">

    <mat-grid-list cols="2" class="mat-categories d-block d-sm-none" rowHeight="160px">
        <mat-grid-tile *ngFor="let category of categories" class="text-center">
            <div class="mat-content text-center cp" (click)="dataTitle(category.title)"
                 [routerLink]="['/categories', category.id]">
                <img class="scale" src="{{category.icon}}" alt="">
                <p class="tc-grei fw-600">{{category.title}}</p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="3" class="mat-categories d-none d-sm-block d-md-block d-lg-none" rowHeight="160px">
        <mat-grid-tile *ngFor="let category of categories" class="text-center">
            <div class="mat-content text-center cp" (click)="dataTitle(category.title)"
                 [routerLink]="['/categories', category.id]">
                <img class="scale" src="{{category.icon}}" alt="">
                <p class="tc-grei fw-600">{{category.title}}</p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="4" class="mat-categories d-none d-lg-block" rowHeight="160px">
        <mat-grid-tile *ngFor="let category of categories" class="text-center">
            <div class="mat-content text-center cp" (click)="dataTitle(category.title)"
                 [routerLink]="['/categories', category.id]">
                <img class="scale" src="{{category.icon}}" alt="">
                <p class="tc-grei fw-600">{{category.title}}</p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
